.navbar {
  position: fixed; /* Робимо навбар фіксованим */
  top: 0; /* Розміщуємо його у верхній частині екрану */
  left: 0;
  right: 0; /* Розтягуємо навбар на всю ширину екрану */
  z-index: 1000; /* Задаємо високий z-index, щоб навбар був поверх інших елементів */
  background-color: #750014; 
}
  
  .navbar-nav .nav-link {
    color: #fff; 
    font-size: 1em; /* Наприклад, 1.2 em */
  }
  .navbar-brand img {
    margin-right: 5px; 
    width: 40px;
    height: 40px;
  }
  .navbar-brand{
    font-size: 28px;
  }
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    display: none;
    max-width: 400px;
  }
  .dropdown-item:focus,
  .dropdown-item.active {
    background-color: #750014; 
  }
  
  .dropdown-item {
    font-size: 0.9em; /* Задаємо мінімальну ширину випадаючого списку */
  }


  body {
    font-size: 1.2em; /* Змініть розмір тексту за необхідністю */
}
  h2{
  font-size: 1.2em;
}
.footer {
    background-color: #750014; 
    color: #fff; 
    font-size: 16px;
  }
  
  .footer a {
    color: #fff; 
  }
  
  .footer a:hover {
    color: #ccc; 
  }
  .text-muted {
    color: #fff; 
    margin-left: 14px;
  }
 
  .image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .col-lg-4 img {
    margin-bottom: 15px; /* Змініть розмір відступу за необхідності */
}
  
  .modal-img {
    width: 40em;
    height: 30em;
    /* border: 1px solid #fff; Optional: Add a border to the image */
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); Optional: Add a box shadow for aesthetics */
  }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.custom-margin {
  margin-bottom: 10px; /* Встановіть необхідний відступ */
}
.custom-map {
  margin-top: 10px; /* Встановіть необхідний верхній відступ для карти */
}
.bg-light {
  background-color: #dddddde6; /* Сірий фон */
  border-radius: 10px; /* Заокруглені краї */
  box-shadow: 0 4px 8px rgba(0,0,0,0.4); /* Тінь */
  padding: 15px; /* Відступи від країв блоку */
  width: auto; /* Автоматична ширина відповідно до вмісту */
  max-width: 100%; /* Максимальна ширина, щоб не виходило за межі екрану */
  height: auto; /* Автоматична висота відповідно до вмісту */
  margin-bottom: 15px; /* Відступ між блоками */
  display: flex; /* Використовуємо flexbox */
  /* align-items: center; Вирівнюємо елементи вертикально */
  justify-content: center; /* Вирівнюємо елементи горизонтально */
}
.full-screen-image {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.full-screen-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/static/RESOURCES/KISIT_MAIN.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(4px);
  opacity: 1; /* Затемнюємо фон */
  z-index: -1;
}

.full-screen-image h2 {
  position: relative;
  z-index: 1; /* Задаємо змісту більший z-index, щоб він відображався поверх фону */
  font-size: 36px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}




