    .navbar {
    background-color: #750014; 
    /* height: 100px; */
  }
  
  .navbar-nav .nav-link {
    color: #fff; 
    font-size: 1em; /* Наприклад, 1.2 em */
  }
  .navbar-brand img {
    margin-right: 5px; 
    width: 40px;
    height: 40px;
  }
  .navbar-brand{
    font-size: 28px;
  }
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    display: none;
    max-width: 400px;
  }
  .dropdown-item:focus,
  .dropdown-item.active {
    background-color: #750014; 
  }
  
  .dropdown-item {
    font-size: 0.9em; /* Задаємо мінімальну ширину випадаючого списку */
  }


  body {
    font-size: 1.2em; /* Змініть розмір тексту за необхідністю */
}
  h2{
  font-size: 1.2em;
}
.footer {
    background-color: #750014; 
    color: #fff; 
    font-size: 16px;
  }
  
  .footer a {
    color: #fff; 
  }
  
  .footer a:hover {
    color: #ccc; 
  }
  .text-muted {
    color: #fff; 
    margin-left: 14px;
  }
 
  .image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .col-lg-4 img {
    margin-bottom: 15px; /* Змініть розмір відступу за необхідності */
}
  
  .modal-img {
    width: 40em;
    height: 30em;
    /* border: 1px solid #fff; Optional: Add a border to the image */
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); Optional: Add a box shadow for aesthetics */
  }
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

  #addTabForm button[type="submit"].btn.btn-primary {
    background-color: #750014; /* Змінюємо колір кнопки */
    border-color: #750014; /* Змінюємо колір межі кнопки */
}

  #addTabForm button[type="submit"].btn.btn-primary:hover {
    background-color: #590010; /* Змінюємо колір кнопки при наведенні */
    border-color: #590010; /* Змінюємо колір межі кнопки при наведенні */
}
/* CSS for the sidebar */
.sidebar {
  position: fixed;
  top: 100px; /* Height of the navbar */
  bottom: 450px; /* Height of the footer */
  left: 0;
  width: 20%; /* відносна ширина сайдбару */
  background-color: #f8f9fa;
  padding: 2%; /* відносний відступ всередині сайдбару */
}

/* CSS for the main content */
main {
  margin-left: 20%; /* Adjust margin to match sidebar width */
  transition: margin-left 0.3s ease; /* Add transition for smooth animation */
}

.sidebar button {
  width: 100%; /* розмір кнопки відповідно до батьківського контейнера (сайдбару) */
  margin-bottom: 5%; /* відносний відступ між кнопками */
  font-size: 2vw; /* відносний розмір тексту кнопок */
}
#textOptionsModal button[type="button"].btn.btn-primary {
  background-color: #750014; /* Змінюємо колір кнопки */
  border-color: #750014; /* Змінюємо колір межі кнопки */
}

#textOptionsModal button[type="button"].btn.btn-primary:hover {
  background-color: #590010; /* Змінюємо колір кнопки при наведенні */
  border-color: #590010; /* Змінюємо колір межі кнопки при наведенні */
}
/* Media query для більших екранів */
@media (min-width: 1024px) {
  .sidebar button {
    width: 100%; /* розмір кнопки відповідно до батьківського контейнера (сайдбару) */
    margin-bottom: 5%; /* відносний відступ між кнопками */
    font-size: 1.1vw; /* Зменшення розміру тексту для більших екранів */
  }
  /* CSS for the sidebar */
.sidebar {
  position: fixed;
  top: 100px; /* Height of the navbar */
  bottom: 430px; /* Height of the footer */
  left: 0;
  width: 16%; /* відносна ширина сайдбару */
  background-color: #f8f9fa;
  padding: 2%; /* відносний відступ всередині сайдбару */
}
main {
  margin-left: 16%; /* Adjust margin to match sidebar width */
  transition: margin-left 0.3s ease; /* Add transition for smooth animation */
}
}
/* Adjust the sidebar and main content when the navbar is expanded */
.navbar-expand-lg .navbar-collapse {
  z-index: 1000;
}

/* Adjust main content when the footer is sticky */
.footer {
  z-index: 1000;
}
.close {
  position: absolute;
  top: -7px;
  right: 0;
  cursor: pointer;
  padding: 0px;
  color: red; /* Колір крестика */
  font-weight: bold; /* Жирний текст */
}






